<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="author" content="Osca Hub Group">
<meta name="keywords" content="coop, hark, Oberlin">
<meta name="description" content="All information about Harkness">
<link href='http://fonts.googleapis.com/css?family=tahoma' rel='stylesheet'>
<style>
      body {
        font-family: tahoma;
      }
    </style>
<title>OSCA Hub | Harkness</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
  <h1> <a href "index.html">
      <img src="oscahublogo.png" alt="OSCA Hub logo"
	   style="height:200px;width:200px;class:center;"></a></h1>
<div id="menu">
  <ul>
	<li><a href="index.html" id="currentred">Home</a></li>
    <li><a href="calendar.html">Calendar</a></li>
	<li><a href="mealinfo.html">Meal Information</a></li>
	<li><a href="spreadsheetlinks.html">Spreadsheet Links</a></li>
	<li><a href="subrequest.html">Sub Requests</a></li>
  </ul>
</div>
<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="192283966632-qb5299hi21ad85tki8bm60nitq2f2v67.apps.googleusercontent.com
">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div class="g-signin2" data-onsuccess="onSignIn" ></div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      };
    </script>
	  <a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
  </body>
</html>
<div id="content">
    <h2 class="green">LIVE UPDATES</h2>
    <div id="mini">
        <html>
	<body ng-app="ToDoList">

		<div ng-controller="MainController">

		<singlelist mylist="todo"></singlelist>
			<input ng-model="addToDo">
			<button ng-click="addItem(todo.list, addToDo)">Post Live Update</button>

		</div>

	<!-- Modules -->
	<script type="text/javascript" src="app.js"></script>

	<!-- Controllers -->
	<script src="MainController.js"></script>

	<!-- Directives -->
	<script src="singlelist.js"></script>

</body>
</html>
    </div>
    <h2 class="red">About OSCA</h2>
    <img height = "100"width="100"class="right" src="oscalogo.png" alt="oscalogo">
    <p>OSCA is a student-run non-profit corporation that feeds approximately ¼ of Oberlin’s student body. OSCA provides at-cost housing and dining to members, and works to provide inexpensive, healthy, tasty, and environmentally-wise meals. The organization aims to buy food based on principles of accessibility, sustainability, and supporting fair labor practices. OSCA operates through modified consensus, and OSCA is one of the largest cooperatives in North America.</p>
    
    <h2 class="red">About Harkness</h2>
      <p>Situated in the center of campus, Harkness is a housing and dining co-op with a focus on vegetarian cuisine with vegan options offered at each meal. Harkness is the largest co-op with 109 students eating there; 64 of which also live in the building. It also is the only co-op on campus without a communal television.</p>
    <h2 class="red">Contact Information</h2>
    <p class="contacts">
      <ul>
	<h3 class="green">Harkness Fall 2018 Positions</h3>
        <li>DLECs: Tala Clower, Sarah Hampton, Hamby</li>
	<li>FSCs: Jonas Mondschedin and Madeleine Feola</li>
	<li>KitchCo/Cleanliness Coordinator: V Armstrong, Sophie Maffie, Barret Carr</li>
	<li>MemCo: Quinn Meckley (Misjobs), Wren Fiocco (Workchart)</li>
	<li>Treasurer: Sezny Watkins</li>
        <li>Food buyer: Gavin Epstein, Jane Vourlekis</li>
        <li>Nutrition Coordinator: Hamby</li>
	<li>Board Rep: Elise Hardebeck, Caroline Spittel</li>
	<li>New Member Trainer: Emily Jacobson</li>
	<li>Food Unpacker/Recycler: Carter Rasnic Olson, Emma Kazal</li>
	<li>AccessCo: Margo Roberts, Jesse Noily</li>
      </ul>
    </p>
    </div>

</body>
</html>
