/*default settings for website*/

body
{
	margin: 0;
	padding: 0;
    font-family: "Palatino Linotype", Palatino Linotype, serif;
	font-size: 12pt;
	background-color: #f8feff;
}
h1{
	text-align: center;
	font-size: 48pt;
	color: #3e78c7;
}

a
{
	text-decoration: none;	
	color: #3e78c7;
}

p
{
	text-align:justify;
	text-indent: 1.5em;	
}

.right
{
	float: right;	
	margin: 0 0 20px 20px;
}


/*navigation bar*/

div#menu
{
	margin-top: 4em;
	text-align: center;
}

div#menu ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

div#menu li
{
	display: inline;
	margin-right: .5em;
}

div#menu ul li a
{
	padding: 10px 20px;
}

/*current page indicator*/

div#menu ul li a#currentred
{
	color: #f8ffef;
	background-color: #3e78c7;
}

div#menu ul li a#currentblue
{
	color: #f8ffef;	
	background-color: #3e78c7;
}

div#menu ul li a#currentgreen
{
	color: #f8ffef;	
	background-color: #3e78c7;
}

/*navigation item hover change*/

div#menu ul li a:hover
{
	color: #f8ffef;
	background-color: #3e78c7;
}

/*end of styling navigation*/

/*content*/

div#content
{
	width: 70%;
	margin: 2em auto;
	background-color: 3e78c7;
	border: 3px solid #3e78c7;
	padding: 20px;
}

/*header classes*/
.red
{
	color: #3e78c7;
}
.blue
{
	color: #b0ddd0;
}
.green
{
	color: #8bccec;
}

/*table styling*/
table {
	border-collapse: collapse;
}

td {
	padding: 11px;	
}

th {
	background-color: #d8fff6;	
	border-bottom: 1px solid #b0ddd0;
}

.cameraname {
	width: 120px;
	background-color: #8bccec;	
	border-right: 1px solid #7eb2bd;
}

/*form design*/

.button {
	border: none;
	width:100px;
	height:30px;
	background:#3e78c7;
	text-align: center;
	font-weight:bold;
}
